{% extends 'base.html' %}
{% block content %}
<h2>detail</h2>
<hr>
{{ article.title }}
<hr>
<p>내용 : {{ article.content }}</p>
<p>작성일 : {{ article.created_at}}</p>
<a class="btn btn-primary" href="{% url 'articles:update' article.pk %}">update</a>

{# 그냥 a태그로 하면 GET 방식, form으로 만들어서 POST 방식으로 하기#}
<form action="{% url 'articles:delete' article.pk %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="삭제">
</form>
<a class="btn btn-secondary" href="{% url 'articles:index' %}">back</a>
{% endblock  %}