{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <p>작성자 : <a href="{% url 'accounts:profile' post.user.pk %}">{{ post.user.username }}</a></p>
  <p>제목 : {{ post.title }}</p>
  <p>내용 : {{ post.content }}</p>

  <a class="btn btn-warning" href="{% url 'posts:update' post.pk %}">수정</a>
  {% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.image }}" width="100%">
  {# 파일의 이름 #}
  {{ post.image }}
  {# 파일의 경로 #}
  {{ post.image.url }}
  {# 경로에 사진이 없다면 사진 이름을 출력 #}
  {% else %}
    <h2>이미지가 없습니다.</h2>
  {% endif %}
  
  <hr>
    {% if request.user in post.like_users.all %}
      <a href="{% url 'posts:like' post.pk %}">❤</a>
    {% else %}
      <a href="{% url 'posts:like' post.pk %}">🤍</a>
    {% endif %}
  <hr>
  <form action="{% url 'posts:comment_create' post.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit">
  </form>

  <hr>
  <ul>
  {% for comment in post.comment_set.all %}
    <li>{{ comment.content }} 작성자 : {{ comment.user.username }}</li>
    <form action="{% url 'posts:comment_delete' post.pk comment.pk%}" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제">
    </form>
  {% endfor %}
  </ul>

{% endblock  %}