{% extends 'base.html' %}

{% block content %}
  <div class="container">
    {% comment %} 루트 path에서 index를 붙여서 가겠다 {% endcomment %}
    <a href="/index/">인덱스 가기1</a>
    {% comment %} 뒤에 / 붙여주는 것이 좋음(rule). 연결해주긴 함 {% endcomment %}
    <a href="/index">인덱스 가기2</a>
    {% comment %} 현재의 위치에서 index를 붙여서 가겠다. {% endcomment %}
    <a href="index">인덱스 가기3</a>
    <a href="index/">인덱스 가기4</a>
  </div>


  {% for l in lunch %}
    <div class="card" style="width: 18rem;">

      <div class="card-body">
        <h5 class="card-title">{{l}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  {% endfor %}

{% endblock  %}
