{% extends 'base.html' %}

{% block content %}
  <form action="{% url 'pong' %}" method="GET">
    <div class="mb-3">
      <label for="Input1" class="form-label">Email address</label>
      <input name="id" type="email" class="form-control" id="Input1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="Input2" class="form-label">password</label>
      <input name="pw" type="password" class="form-control" id="Input2" placeholder="password">
    </div>
    <input type="submit" class="btn btn-primary">
  </form>
{% endblock  %}